@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-inter: var(--font-inter);
  --font-ibm-plex-serif: var(--font-ibm-plex-serif);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/*Custom CSS*/
@theme {
  --color-indigo-500: #6172f3;
  --color-indigo-700: #3538cd;

  --color-success-25: #f6fef9;
  --color-success-50: #ecfdf3;
  --color-success-100: #d1fadf;
  --color-success-600: #039855;
  --color-success-700: #027a48;
  --color-success-900: #054f31;

  --color-pink-25: #fef6fb;
  --color-pink-100: #fce7f6;
  --color-pink-500: #ee46bc;
  --color-pink-600: #dd2590;
  --color-pink-700: #c11574;
  --color-pink-900: #851651;

  --color-blue-25: #f5faff;
  --color-blue-100: #d1e9ff;
  --color-blue-500: #2e90fa;
  --color-blue-600: #1570ef;
  --color-blue-700: #175cd3;
  --color-blue-900: #194185;

  --color-sky-1: #f3f9ff;

  --color-black-1: #00214f;
  --color-black-2: #344054;

  --color-gray-25: #fcfcfd;
  --color-gray-200: #eaecf0;
  --color-gray-300: #d0d5dd;
  --color-gray-500: #667085;
  --color-gray-600: #475467;
  --color-gray-700: #344054;
  --color-gray-900: #101828;

  --background-image-blue-gradient: linear-gradient(
    90deg,
    #0179fe 0%,
    #4893ff 100%
  );
  --background-image-blue-mesh: url("/icons/gradient-mesh.svg");

  --shadow-profile: 0px 12px 16px -4px rgba(16, 24, 40, 0.08),
    0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  --shadow-creditCard: 8px 10px 16px 0px rgba(0, 0, 0, 0.05);
  --shadow-form: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

@layer utilities {
  /*Root*/
  .root-layout {
    @apply flex h-16 items-center justify-between p-5 shadow-sm sm:p-8 md:hidden;
  }

  /*Side bar*/
  .sidebar {
    @apply sticky left-0 top-0 bottom-0 flex h-full min-h-screen w-fit flex-col justify-between border-r border-gray-200 bg-white pt-8 text-white max-md:hidden sm:p-4  xl:w-[320px];
  }

  .sidebar-logo {
    @apply text-[22px] text-gray-900 font-semibold max-xl:hidden font-ibm-plex-serif;
  }

  .sidebar-link {
    @apply flex gap-3 items-center py-1 md:p-4  rounded-lg justify-center xl:justify-start;
  }

  .sidebar-label {
    @apply text-[16px] font-semibold text-gray-900 max-xl:hidden;
  }

  /*Mobile Navigation*/
  .mobilenav-sheet {
    @apply flex h-[calc(100vh-72px)] flex-col justify-between overflow-y-auto;
  }

  .mobilenav-sheet_close {
    @apply flex gap-3 items-center p-4 rounded-lg w-full max-w-60;
  }

  /*Auth*/
  .auth-layout {
    @apply flex min-h-screen w-full justify-between font-inter;
  }

  .auth-asset {
    @apply flex h-screen w-full sticky top-0 items-center justify-center bg-sky-1 max-xl:hidden;
  }

  .auth-form {
    @apply flex min-h-screen w-full max-w-[420px] flex-col justify-center gap-4 py-5 md:gap-4;
  }

  /*Form*/
  .form-item {
    @apply flex flex-col gap-1.5;
  }

  .form-label {
    @apply text-[14px] w-full max-w-[280px] font-medium text-gray-700;
  }

  .form-message {
    @apply text-[12px] text-red-500;
  }

  .form-btn {
    @apply text-[16px] rounded-lg border font-semibold text-white shadow-form h-14 cursor-pointer;
  }

  .input-class {
    @apply text-[14px] placeholder:text-[14px] rounded-lg border border-gray-300 text-gray-500 placeholder:text-gray-500 h-12;
  }

  .select-item {
    @apply flex w-full max-w-[850px] flex-col gap-3 md:flex-row lg:gap-8;
  }

  .select-item_content {
    @apply flex w-full max-w-[280px] flex-col gap-2;
  }

  /*Profile*/
  .profile {
    @apply flex min-h-screen  w-full flex-col gap-8 bg-gray-25 p-8 xl:py-12;
  }

  .header-box {
    @apply flex flex-col gap-1;
  }

  .header-box-title {
    @apply text-3xl lg:text-3xl font-semibold text-gray-900;
  }

  .header-box-subtext {
    @apply font-semibold text-gray-600;
  }

  /*Patient Card*/
  .patient-card {
    @apply w-full border-b border-gray-100;
  }

  .patient-card_trigger {
    @apply w-full flex flex-col sm:flex-row sm:items-center justify-between px-0
  }

  .patient-card_trigger-header {
    @apply text-gray-900 font-semibold
  }

  .patient-card_trigger-content {
    @apply text-gray-600 font-semibold  uppercase
  }

  .patient-card_content {
    @apply flex flex-col sm:flex-row sm:items-center justify-between gap-1
  }

  .patient-card_content-header {
    @apply text-gray-900 font-bold
  }

  .patient-card_content-upper {
    @apply text-gray-600 font-semibold uppercase
  }

  .patient-card_content-lower {
    @apply text-gray-600 font-semibold
  }
}
